@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Header*/
.main-header {
    height: 20%;
    padding: 2.8rem 5rem;
    background-color:white;
    font-family: "Roboto", sans-serif;
    color: #D6000D;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.main-content {
    height: 60%;
    width: 100%;
}

.main-header .ponto {
    color: black;
}

.main-nav a:first-child {
    margin-left: 0;
}

.main-nav a:hover:last-child {
    color: white;
}

.main-nav a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.8rem;
    color: black;
}

.main-nav a:hover {
    color: #D6000D;
}

.main-nav .login {
    background-color: #D6000D;
    padding: .4rem 4rem;
    border-radius: 1rem;
    color: white;
}

.login {
    margin-top: 20px;
}

.login:hover {
    background-color: #f02c39;
}

/* Conteudo do centro */

.depoimento {
    font-size: 3rem;
    margin: 4rem 0 0 2rem;
    font-family:'Roboto', sans-serif;
}

.wrap-depo {
    margin-top: 13rem;
}


.main-content {
    height: 40vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.depoimento {
    font-size: 3rem;
    margin: 4rem 0 0 2rem;
    font-family:'Roboto', sans-serif;
}

.wrap-depo {
    margin-top: 10rem;
}

.depo1 {
    background-color: rgb(207, 26, 26, 0.8);
    padding: 2rem 2rem;
    border-radius: 1rem;
    
}

.depo1 .name1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.depo1 h2{
    font-weight: bold;
}

.depo2 {
    background-color: rgb(207, 26, 26, 0.8);
    padding: 2rem 2rem;
    border-radius: 1rem;
}

.depo2 .name2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
}

.depo2 h2 {
    font-weight: bold;
}

.wrap-depo {
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}


/* "footer" */

.main-contato{
    background-color: black;
    height: 40vh;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.title2, .sobre, .contato, .social-media {
    margin-top: 8rem;
}

.codar {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.sobre h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.social-media img {
    width: 2.5rem;
}

.main-contato .title2 {
    margin-left: 4rem;
}

.contato h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.social-media h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contato p {
    line-height: 1.5rem;
}

.contato p:last-child {
    text-decoration: underline;
}

.social-media img {
    margin-left: 0.625rem;
}


/* Responsivo */

@media only screen and (max-width: 450px) {
    body {
        display: flex;
        flex-direction: column;
    }   

    .main-content, .main-contato {
        height: 50vh;
    }

    .main-header{
        display: none;
        visibility: hidden;
    }

    .depo1, .depo2 {
        padding: 1rem 1rem;
        width: 20rem;
    }

    .depo2 {
        margin-top: 2rem;
    }


    .depoimento {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0 0 0;
    }

     .main-content .wrap-depo{
        display: flex;
        flex-direction: column;
        width: 18rem;
        margin: 1rem 1rem 0 2rem;
    }

    .main-content .wrap-depo h2{
        text-align: left;
    }

    .main-contato .wrapper {
        display: flex;
        flex-direction: column;
    }

    .main-contato .wrapper {
        padding: 0;
        margin: 0;
    }

    .title2, .sobre, .contato, .social-media {
        margin-top: 1rem;
    }

    .title2 {
        text-align: center;
    }

    .main-contato .title2 {
        margin-left: 0;
    }

    .sobre, .contato, .social-media {
        margin-left: 2rem;
    }
}