@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.main-header {
    padding: 5rem 5rem;
    background-color:white;
    font-family: "Roboto", sans-serif;
    color: #D6000D;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.main-header .ponto {
    color: black;
}

.main-nav a:first-child {
    margin-left: 0;
}

.main-nav a:hover:last-child {
    color: white;
}

.main-nav a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.8rem;
    color: black;
}

.main-nav a:hover {
    color: #D6000D;
}

.main-nav .login {
    background-color: #D6000D;
    padding: .4rem 4rem;
    border-radius: 1rem;
    color: white;
}

.login {
    margin-top: 20px;
}

.login:hover {
    background-color:#f02c39;
}


.image {
    max-width: 35rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap-image {
    margin-left: 10rem;
    margin-top: 5rem;
}

.wrap-description {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    margin-right: 15rem;
    line-height: 5rem;
    font-weight: 700;
}

.wrap-description .red {
    font-size: 5rem;
    font-weight: bold;
    color: #D6000D;
}

.wrap-description .button {
    background-color: #D6000D;
    color: white;
    margin-top: 3rem;
    padding: .5rem 4rem;
    border-radius: 1.5rem;
    font-size: 1.7rem;
}

.button:hover {
    background-color: #f02c39;
    transition: 200ms;
}

.button:active {
    transform: translateY(1.5px);
}






/*Responsivo*/


@media only screen and (max-width: 450px) {
    .main-header {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3.3rem 0 0 0;
    }

    .main-header .title {
        font-style: italic;
    }

    .main-header nav a {
        font-size: 1rem;
    }

    nav .login {
        margin-left: 0;
        display: block;
    }

    .image {
        max-width: 16rem;
        justify-content: center;
        align-items: center;
        
    }

    .wrap-image {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
    }

    .wrap-description {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    .wrap-description .red {
        font-size: 2rem;
    }

    .wrap-description .button {
        font-size: 1rem;
        padding: .4rem 2rem;
        margin-left: 2.5rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}