@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: black;
}

.main-header {
    padding: 5rem 5rem;
    background-color:white;
    font-family: "Roboto", sans-serif;
    color: #D6000D;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.main-header .ponto {
    color: black;
}

.main-nav a:first-child {
    margin-left: 0;
}

.main-nav a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.8rem;
    color: black;
}

.main-nav .login {
    background-color: #D6000D;
    padding: .4rem 3rem;
    border-radius: 1rem;
    color: white;
}

.login {
    margin-top: 20px;
}

.login:hover {
    background-color: #f02c39;
}

@media only screen and (max-width: 450px) {
    .main-header {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4rem 0 2rem 0;
    }

    .main-header .title {
        font-style: italic;
    }

    .main-header nav a {
        font-size: 1rem;
    }

    nav .login {
        font-size: 1.2rem;
        margin-left: 0;
        display: block;
    }
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 300px;
    
}
