
/*Responsivo*/


@media only screen and (max-width: 450px) {
    .main-header {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3.3rem 0 0 0;
    }

    .main-header .title {
        font-style: italic;
    }

    .main-header nav a {
        font-size: 1rem;
    }

    nav .login {
        margin-left: 0.938rem;
        display: block;
        width: 4.375rem;
    }

    .image {
        max-width: 16rem;
        justify-content: center;
        align-items: center;
        
    }

    .wrap-image {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
    }

    .wrap-description {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }

    .wrap-description .red {
        font-size: 2rem;
    }

    .wrap-description .button {
        font-size: 1rem;
        padding: .4rem 2rem;
        margin-left: 2.5rem;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}