/*Conteudo principal*/

.wrapper {
    display: flex;
    justify-content: space-around;
}

.wrapper .imagecode {
    width: 35rem;
}


.list ul {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-content: center;
}

.list li {
    line-height: 60px;
    vertical-align: middle;

}

.main-content .list .imglist {
    width: 30px;
    margin-right: 2rem;
}


.main-footer {
    height: 20%;
    margin-left: 16rem;
}

.main-footer h2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.main-footer input {
    padding: 1rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #dfe6e9;
    border-radius: .5rem;
    margin-right: 1rem;
}

.main-footer .button {
    background-color: #D6000D;
    padding: 1rem 2rem;
    border-radius: .8rem;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: #f02c39;
}

.button:active {
    transform: translateY(1px);
}

/* Responsivo */

@media only screen and (max-width: 450px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .main-header {
        padding: 1rem .5rem 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-header .title {
        font-style: italic;
    }

    .wrapper .imagecode {
        margin-top: 1.875rem;
        width: 10rem;
    }

    .main-nav  a {
        font-size: 1rem;
    }

    .main-nav .login {
        margin-left: 0.938rem;
        display: block;
        width: 4.375rem;
        text-align: center;
    }

    /* Conteúdo principal */
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .list ul {
        font-size: 1.1rem;
        line-height: 10px;
        font-weight: 500;
    }

    .list li {
        font-family: 'Roboto', sans-serif;
        margin-top: 0.625rem;
        line-height: 2.188rem;
    }

    .wrapper .list .imglist {
        width: 0.938rem;
        margin-right: .8rem;
    }

    /* Footer */
    .main-footer {
        display: flex;
        margin-left: 0;
        margin-top: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-footer h2 {
        font-size: 1.2rem;
    }

    .main-footer .button {
        padding: .4rem .4rem;
        margin-top: .5rem;
        margin-right: .5rem;
        width: 14rem;
    }
}